<header>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p class="h1">JobBeta</p>
                </div>
                <div class="col-sm input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary">search</button>
                </div>
                <div class="col-sm pull-right">
                    <button type="button" class="btn btn-primary float-right m-2">Add Aplication</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mt-2 col-md-12"></div>
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm">Name</div>
            <div class="col-sm">Phone</div>
            <div class="col-sm">Job</div>
            <div class="col-sm">Status</div>
        </div>
    </div>
</div>